:root {
    --square-size: 50px;
    --grid-line-size: 2px;
    --dot-size: 15px;
    --main-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100vh;
    background-color: black;
    font-family: Arial, sans-serif;
    padding: 24px;
    gap: 24px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

button {
    font-family: "Press Start 2P", system-ui;
    color: black;
    background: lime;
    border: none;
    padding: 2px 24px;
    margin: 12px;
    box-shadow: 10px 10px 0 black;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
    min-width: 200px;
    transition: background 0.1s, color 0.1s;
}

button:active {
    color: white;
    box-shadow: 0px 0px 0 black;
    translate: 10px 10px;
}

.btn-wrapper {
    border: 8px double black;
    padding: 6px;
    padding-bottom: 12px;
    background-color: violet;
    box-shadow: 0 0 0 6px violet;
    position: relative;
}

.btn-wrapper::before {
    content: 'Tu som guziki';
    position: absolute;
    top: -12px;
    left: 16px;
    background-color: violet;
    padding: 0 12px;
}

.square-container {
    background-color: violet;
    display: grid;
    border: 8px double black;
    box-sizing: content-box;
    position: relative;
    box-shadow: 0 0 0 6px violet;
    padding: 12px;
}

.square-container::before {
    content: 'Tu szczela czerwony';
    position: absolute;
    top: -12px;
    left: 16px;
    padding: 0 12px;
    background-color: violet;
}

.square-container::after {
    content: 'Tu szczela niebieski';
    position: absolute;
    bottom: -12px;
    left: 16px;
    padding: 0 12px;
    background-color: violet;
}

.square {
    display: inline-block;
    width: var(--square-size);
    height: var(--square-size);
    /* border: 1px solid rgb(205, 206, 206); */
    position: relative;
}

.square::before,
.square::after {
    position: absolute;
    content: '';
    background-color: rgb(253, 163, 255);
    pointer-events: none;
}

.square::before {
    top: 50%;
    left: 0;
    width: var(--square-size);
    ;
    height: var(--grid-line-size);
    ;
}

.square::after {
    left: 50%;
    width: var(--grid-line-size);
    height: var(--square-size);
}

/* Krawędzie - nadpisanie tylko tego co trzeba */
.square.square-top::after {
    top: 50%;
    height: calc(var(--square-size) / 2);
}

.square.square-bottom::after {
    height: calc(var(--square-size) / 2);
}

.square.square-left::before {
    left: 50%;
    width: calc(var(--square-size) / 2);
}

.square.square-right::before {
    width: calc(var(--square-size) / 2);
}

.square.goal::after {
    top: 0;
    height: var(--square-size);
    background-color: lime;
}

.square .available-dot,
.square .current-dot {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--dot-size);
    height: var(--dot-size);
    background: lime;
    border-radius: 50%;
    transform: translate(-45%, -50%);
    z-index: 999;
}

.square:hover .available-dot {
    display: block;
    cursor: pointer;
}

.square .current-dot {
    display: block;
}

.path {
    position: absolute;
    background-color: red;
    z-index: 99;
    pointer-events: none;
}

.path-left {
    top: 50%;
    left: -50%;
    width: var(--square-size);
    height: var(--grid-line-size);
}

.path-right {
    top: 50%;
    left: 50%;
    width: var(--square-size);
    height: var(--grid-line-size);
}

.path-up {
    top: -50%;
    left: 50%;
    width: var(--grid-line-size);
    height: var(--square-size);
}

.path-down {
    top: 50%;
    left: 50%;
    width: var(--grid-line-size);
    height: var(--square-size);
}

.path-down-left {
    top: 100%;
    left: calc(-50% - 9px);
    width: calc(var(--square-size) * 1.4142);
    height: var(--grid-line-size);
    transform: rotate(-45deg);
}

.path-down-right {
    top: 100%;
    left: calc(50% - 9px);
    width: calc(var(--square-size) * 1.4142);
    height: var(--grid-line-size);
    transform: rotate(45deg);
}

.path-up-left {
    top: 0;
    left: calc(-50% - 9px);
    width: calc(var(--square-size) * 1.4142);
    height: var(--grid-line-size);
    transform: rotate(45deg);
}

.path-up-right {
    top: 0;
    left: calc(50% - 9px);
    width: calc(var(--square-size) * 1.4142);
    height: var(--grid-line-size);
    transform: rotate(-45deg);
}